@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Максимилиан Масюткин</h1>
    <p> <em><a href="https://vk.com/macutka">Ссылка на величайшего</a> </em></p>
</div>
